<?xml version="1.0"?>
<configuration>
	<param name="NODE" value="903" />
        <param name="KEY" value="cryptokey.sksl" />

        <table name="VIT">
               <row tag="1">
                        <param name="TYPE" value="CONNECTOR" />
                        <param name="IP_PORT">
                                <value value="10.20.0.121:1500" />
                        </param>
                        <param name="MAX_COUNT" value="1" />
                </row>
	</table>

	<table name="VIP" >
               <row tag="1">
                        <param name="TYPE" value="CONNECTOR" />
                        <param name="SRC_INT" value="100" />
                        <param name="KA_RECV" value="40" />
                        <param name="KA_SEND" value="120" />
                        <param name="CONNECTECTION_TIME" value="0" />
                        <param name="CONNECT_TIMEOUT" value="60" />
                        <param name="RECONNECT_TIME" value="10" />
                        <param name="TTL" value="10" />
                        <param name="TTL2" value="10" />
                        <param name="MAX_COUNT" value="1" />
                </row>
  	</table>
</configuration>
